


<div class="loader"></div>
<div id="myDiv">
    <!--HEADER-->
    <div class="header">
        <div class="bg-color">
            <header id="main-header">
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#">System<span class="logo-dec">DNS</span></a>-->
                            <a class="navbar-brand" href="#"><img src="~/img/logo/SDS_01.png" /></a>
                        </div>
                        <div class="collapse navbar-collapse" id="myNavbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#main-header">Inicio</a></li>
                                <li class=""><a href="#feature">Servicios</a></li>
                                <li class=""><a href="#service">Clientes</a></li>
                                <li class=""><a href="#portfolio">Portafolio</a></li>
                                <li class=""><a href="#team">Equipo</a></li>
                                <li class=""><a href="#blog">Herramientas</a></li>
                                <li class=""><a href="#contact">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="banner-info text-center wow fadeIn delay-05s">
                            <!--<h1 class="bnr-title">Somos Software Development Service<span>DNS</span></h1>-->
                            <div id="inicio-opciones">
                                <h2>Creamos <span class="rotating">páginas web, apps IOS y Android, apps de escritorio Windows</span></h2>
                            </div>
                            <!--<h2 class="bnr-sub-title">Somos Software Development Service</h2>-->

                            <div class="wrapper-letters">
                                <div class="letters">
                                    <!--SOTFWARE DEVELOPMENT SERVICE-->
                                    <span class="letter">s</span> <!--1-->
                                    <span class="letter">o</span> <!--2-->
                                    <span class="letter">f</span> <!--3-->
                                    <span class="letter">t</span> <!--4-->
                                    <span class="letter">w</span> <!--5-->
                                    <span class="letter">a</span> <!--6-->
                                    <span class="letter">r</span> <!--7-->
                                    <span class="letter">e</span> <!--8-->
                                    <span class="letter"> </span> <!--9-->
                                    <span class="letter">d</span> <!--10-->
                                    <span class="letter">e</span> <!--11-->
                                    <span class="letter">v</span> <!--12-->
                                    <span class="letter">e</span> <!--13-->
                                    <span class="letter">l</span> <!--14-->
                                    <span class="letter">o</span> <!--15-->
                                    <span class="letter">p</span> <!--16-->
                                    <span class="letter">m</span> <!--17-->
                                    <span class="letter">e</span> <!--18-->
                                    <span class="letter">n</span> <!--19-->
                                    <span class="letter">t</span> <!--20-->
                                    <span class="letter"> </span> <!--21-->
                                    <span class="letter">s</span> <!--22-->
                                    <span class="letter">e</span> <!--23-->
                                    <span class="letter">r</span> <!--24-->
                                    <span class="letter">v</span> <!--25-->
                                    <span class="letter">i</span> <!--26-->
                                    <span class="letter">c</span> <!--27-->
                                    <span class="letter">e</span> <!--28-->
                                </div>
                            </div>

                            <!--<p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>-->

                            <p class="bnr-para">Nos dedicamos al desarrollo tecnológico en las empresas y organizaciones.con el firme objetivo de que la tecnología esté al alcance de todos.por ello trabajamos con personas que necesitan desde una página web o facturación electrónica.Existen empresas internacionales que necesitan soluciones tecnológicas para miles de usuarios.! No seas parte de ellas, nosotros tenemos la solucion !</p>
                            <!--<p id="letrasMaquina">
                                Nos dedicamos al desarrollo tecnológico en las empresas y organizaciones<br />con el firme objetivo de que la tecnología esté al alcance de todos.por ello trabajamos con personas que necesitan desde una página web o facturación electrónica.Existen empresas internacionales que necesitan soluciones tecnológicas para miles de usuarios.! No seas parte de ellas, nosotros tenemos la solucion !
                                <span id="cursor">|</span>
                            </p>-->
                            <div class="brn-btn">
                                <a href="#" class="btn btn-download">Descarga la App!</a>
                                <a href="#" class="btn btn-more">Learn More</a>
                            </div>
                            <div class="overlay-detail">
                                <a href="#feature"><i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ HEADER-->
    <!---->
    <section id="feature" class="section-padding wow fadeIn delay-05s">
        <div class="container">
            <div class="row">
                <div class="box">
                    <h2 class="service-title pad-bt15">SERVICIOS</h2>
                    <p class="sub-title pad-bt15">Desarrollamos el software a tu medida.</p>
                    <hr class="bottom-line">
                    <div class="col-md-3">
                        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">

                            <div class="icon">
                                <i class="fa fa-code fa-3x"></i>
                            </div>
                            <h4 id="desWeb">Desarrollo Web</h4>
                            <p>"Creamos tu sitio web"</p>
                            <!--<p>Enfocados en crear sitios web de calidad con el fin de automatizar las necesidades de tu negocio.</p>-->
                            <!--<div class="ficon">
                                <a href="#" class="btn btn-default" role="button">Read more</a>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">

                            <div class="icon">
                                <i class="fa fa-desktop fa-3x"></i>
                            </div>
                            <h4 id="crm">Desarrollo de Software</h4>
                            <p>"Creamos el softaware a tu medida"</p>
                            <!--<p>Creamos aplicaciones de escritorio windows orientados a la administración de tu negocio.</p>-->
                            <!--<div class="ficon">
                                <a href="#" class="btn btn-default" role="button">Read more</a>
                            </div>-->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">

                            <div id="icon-apps" class="icon">
                                <i class="fa fa-mobile fa-3x"></i>
                            </div>
                            <h4 id="apps">Apps</h4>
                            <p>"Creamos esa app movil que tanto necesitas"</p>
                            <!--<p>Hoy en dia mas del 75% de la población a nivel mundial usan un smart phone, no te quedes atras creamos la app ideal para tu negocio.</p>-->
                            <!--<div class="ficon">
                                <a href="#" class="btn btn-default" role="button">Read more</a>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="2.2s">

                            <div class="icon">
                                <i class="fa fa-book fa-3x"></i>
                            </div>
                            <h4 id="cursos">Cursos</h4>
                            <p>"No te estanques, te ofrecemos algunos cursos"</p>
                            <!--<p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras suscipit arcu libero</p>-->
                            <!--<div class="ficon">
                                <a href="#" class="btn btn-default" role="button">Read more</a>
                            </div>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <section id="service" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">Algunos de nuestros clientes</h2>
                    <!--.<p class="sub-title pad-bt15">Somos una empresa joven, pero con potencial<br>Desarrollamos el software a tu medida.</p>-->
                    <hr class="bottom-line">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3><span>D</span>esarrollo de software</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">learn more...</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3><span>S</span>itios Web</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">learn more...</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3><span>A</span>plicaciones Móviles</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">learn more...</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <h3><span>C</span>ursos</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">Learn more...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <!---->
    <!---->
    <section id="portfolio">
        <div class="container wow fadeInUp">
            <div class="col-md-12 text-center">
                <h2 class="service-title pad-bt15">Algunos de nuestros proyectos</h2>
                <p class="sub-title pad-bt15">Te presentamos algunas aplicaciones que hemos desarrollado.</p>
                <hr class="bottom-line">
            </div>

            <div class="row">
                <div class="col-md-3" onclick="mostrarDescripcion(1)">
                    <!--<ul class="grid">-->

                        <a class="portfolio-item" style="background-image: url(/img/work/logicZotz/logicZotzPrincipal.jpg);" href="Javascript:">
                            <div class="details">
                                <h4>LogicZotz: <br />Versión Dragon Ball</h4>
                                <span>Aplicación Windows</span>
                            </div>
                        </a>
                    <!--</ul>-->
                </div>

                <div class="col-md-3" onclick="mostrarDescripcion(2)">
                    <a class="portfolio-item" style="background-image: url(/img/work/cpr_soluciones/cpr_solucionesPrincipal.jpg);" href="Javascript:">
                        <div class="details">
                            <h4>CPR Soluciones</h4>
                            <span>Sitio Web</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3" onclick="mostrarDescripcion(3)">
                    <a class="portfolio-item" style="background-image: url(/img/work/tgz/tgzPrincipal.jpg);" href="Javascript:">
                        <div class="details">
                            <h4>The Gamer Zone</h4>
                            <span>Sitio Web</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3" onclick="mostrarDescripcion(4)">
                    <a class="portfolio-item" style="background-image: url(/img/work/toz/tozPrincipal.jpg); background-size: 100% 100%" href="Javascript:">
                        <div class="details">
                            <h4>The Otaku Zone</h4>
                            <span>Sitio Web</span>
                        </div>
                    </a>,
                </div>

                <!--<h2 style="text-align: center;">Esto es un salto</h2>

                <div class="col-md-3" onclick="mostrarDescripcion(5)">
                    <a class="portfolio-item" style="background-image: url(/img/portfolio-5.jpg);" href="Javascript:">
                        <div class="details">
                            <h4>Portfolio 5</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3" onclick="mostrarDescripcion(1)">
                    <a class="portfolio-item" style="background-image: url(/img/portfolio-6.jpg);" href="Javascript:">
                        <div class="details">
                            <h4>Portfolio 6</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3" onclick="mostrarDescripcion(1)">
                    <a class="portfolio-item" style="background-image: url(/img/portfolio-7.jpg);" href="Javascript:">
                        <div class="details" onclick="mostrarDescripcion(1)">
                            <h4>Portfolio 7</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>

                <div class="col-md-3" onclick="mostrarDescripcion(1)">
                    <a class="portfolio-item" style="background-image: url(/img/portfolio-8.jpg);" href="Javascript:">
                        <div class="details">
                            <h4>Portfolio 8</h4>
                            <span>Alored dono par</span>
                        </div>
                    </a>
                </div>-->

            </div>
        </div>
    </section>
    <!---->
    <!---->

    <section id="team">
        <div class="wow fadeInUp delay-05s">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">Nuestro Equipo</h2>
                    <p class="sub-title pad-bt15">Nuestro equipo cuenta con experiencia en el ambito, conocelos.</p>
                    <hr class="bottom-line">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="member">
                        <div class="pic"><img height="100%" width="70%" src="/img/team/isc-cristian_perez.jpg" alt=""></div>
                        <h4>Cristian Pérez García</h4>
                        <span>Desarrollador Web/Windows</span>
                        <div class="social">
                            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/ISC.CristianPerez/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="https://www.linkedin.com/in/cristian-perez-garcia-387781170/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="member">
                        <div class="pic"><img height="100%" width="70%" src="~/img/team/isc-luis_montero.jpg" alt=""></div>
                        <h4>Luis Montero Vazquez</h4>
                        <span>Desarrollador Web/Windows</span>
                        <div class="social">
                            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="member">
                        <div class="pic"><img height="100%" width="70%" src="~/img/team/isc-oscar_cruz.jpg" alt=""></div>
                        <h4>Oscar Omar Cruz Bernal</h4>
                        <span>Desarrollador Android/IOS</span>
                        <div class="social">
                            <a href="" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="" target="_blank"><i class="fa fa-google-plus"></i></a>
                            <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!---->
    <section id="blog" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="service-title pad-bt15">TECNOLOGIAS</h2>
                    <hr class="bottom-line">
                </div>
                <!--SLIDE DE MOVIMIENTO DE TECNOLOGIAS-->

                <div class="slider">
                    <div class="slide-track">
                        <div class="slide">
                            <img id="tecnologia-sql" src="~/img/Tecnologias/ssql.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-html" src="~/img/Tecnologias/html.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-bootstrap" src="~/img/Tecnologias/bootstrap.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-csharp" src="~/img/Tecnologias/Csharp.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-ionic" src="~/img/Tecnologias/ionic.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-javascript" src="~/img/Tecnologias/javascript.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-android" src="~/img/Tecnologias/android.png" />
                        </div>

                        <div class="slide">
                            <img id="tecnologia-angular" src="~/img/Tecnologias/angular.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-java" src="~/img/Tecnologias/java.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-net" src="~/img/Tecnologias/net.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-node" src="~/img/Tecnologias/node.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-mysql" src="~/img/Tecnologias/mysql.png" />
                        </div>


                        <div class="slide">
                            <img id="tecnologia-sql" src="~/img/Tecnologias/ssql.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-html" src="~/img/Tecnologias/html.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-bootstrap" src="~/img/Tecnologias/bootstrap.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-csharp" src="~/img/Tecnologias/Csharp.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-ionic" src="~/img/Tecnologias/ionic.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-javascript" src="~/img/Tecnologias/javascript.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-android" src="~/img/Tecnologias/android.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-angular" src="~/img/Tecnologias/angular.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-java" src="~/img/Tecnologias/java.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-net" src="~/img/Tecnologias/net.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-node" src="~/img/Tecnologias/node.png" />
                        </div>
                        <div class="slide">
                            <img id="tecnologia-mysql" src="~/img/Tecnologias/mysql.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    <!---->
    <section id="contact" class="section-padding wow fadeInUp delay-05s">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center white">
                    <h2 class="service-title pad-bt15">Contactanos</h2>
                    <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                    <hr class="bottom-line white-bg">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="loction-info white">
                        <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>A99 Adam Street<br>Texas, TX 555072</p>
                        <p><i class="fa fa-envelope-o fa-fw pull-left fa-2x"></i>consultas@servitecflhuaraz.com</p>
                        <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>+41 5787 2323</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="col-md-6 padding-right-zero">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Introdusca un correo valido" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-submit">ENVIAR</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!---->
    <!---->
    <footer id="footer">
        <div class="container">
            <div class="row text-center">
                <p>&copy; SDS Theme. All Rights Reserved.</p>
                <div class="credits">

                    Designed by <a href="http://www.servitecflhuaraz.com/">Software Development Service</a>
                </div>
            </div>
        </div>
    </footer>
    <!---->
</div>



<!--======================
    Modals
    =====================-->
<div id="modals-seccion">
    <div class="modal" id="modalDescripcionPortafolio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <button type="button" data-dismiss="modal" title="Close" class="close">X</button>
        <!--<a data-dismiss="modal" title="Close" class="close">X</a>-->
        <h3 id="titulo-portafolio">Content Title</h3>
        <div class="text">
            <p id="descripcionPortafolio"></p>
                
        </div>
        <div id="slideshow">
            <div class="slideshow-img"><img id="imagenesPortafolio1" width='100%' height='100%' /></div>
            <div class="slideshow-img"><img id="imagenesPortafolio2" width='100%' height='100%' /></div>
            <div class="slideshow-img"><img id="imagenesPortafolio3" width='100%' height='100%' /></div>
            <!--<div class="slideshow-img"><img src="https://placeimg.com/320/240/nature" alt="" /></div>
            <div class="slideshow-img"><img src="https://placeimg.com/320/240/tech" alt="" /></div>-->
        </div>

            <!--<img id="imagenesPortafolio" width='100%' height='100%' />-->
            <p id="descripcionPortafolio"></p>

        <!--<div class="modal-footer">

            <button type="button"  class="btn btn-info" data-dismiss="modal"> Aceptar</button>
            <button type="button" class="bubbly-button" data-dismiss="modal"> Aceptar</button>
        </div>-->


    </div>
</div>



<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/lib/superfish/hoverIntent.js"></script>
<script src="~/lib/superfish/superfish.min.js"></script>
<script src="~/lib/morphext/morphext.min.js"></script>
<script src="~/lib/wow/wow.min.js"></script>
<script src="~/lib/stickyjs/sticky.js"></script>
<script src="~/lib/easing/easing.js"></script>

<script src="~/Scripts/jquery.bxslider.min.js"></script>
<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/contactform/contactform.js"></script>

<!--<script src="~/Scripts/Portafolio.js"></script>-->
